<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>破線ジェネレータ</title>
<style>
[v-cloak] {
  display: none;
}
.wrap {
    display: flex;
    padding: 30px;
}
.wrap .adjust {
    border-right: 1px solid #000;
    padding: 20px;
    width: 400px;
}
.wrap .reflect {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
th{
    text-align: left;
    padding-right: 10px;
    vertical-align: top;
}
.line{
  width: 100%;
}
</style>
</head>
<body>

<div id="app" v-cloak>
<div class="wrap">
  <div class="adjust">
    <table>
      <tr>
        <th>長さ</th>
        <td>
          <input type="range" v-model.number="length" min="1" max="10">
          <input type="text" v-model.number="length" style="width:2em;">px
        </td>
      </tr>
      <tr>
        <th>間隔</th>
        <td>
          <input type="range" v-model.number="space" min="1" max="10">
          <input type="text" v-model.number="space" style="width:2em;">px
        </td>
      </tr>
      <tr>
        <th>太さ</th>
        <td>
          <input type="range" v-model.number="weight" min="1" max="10">
          <input type="text" v-model.number="weight" style="width:2em;">px
        </td>
      </tr>
      <tr>
        <th>色</th>
        <td>
          <input type="color" v-model="color">
          <input type="text" v-model="color" style="width:6em;">
        </td>
      </tr>
      <tr>
        <th>透明度</th>
        <td>
          <input type="range" step="0.01" v-model="a" min="0" max="1">
          <input type="text" v-model="a" style="width:2em;">
        </td>
      </tr>
    </table>
  </div>
  <div class="reflect">
    <p class="line" v-bind:style="{'background-image':'linear-gradient(to right, rgba('+rgbValue+','+a+'), rgba('+rgbValue+','+a+') '+ratio+'%, rgba(0, 0, 0, 0) '+ratio+'%, rgba(0, 0, 0, 0) 100%)',height:weight+'px','background-size':length+space+'px '+weight+'px'}"></p>
  </div>
</div>
<pre>
.elm{
  background:linear-gradient(to right, rgba({{rgbValue}},{{a}}), rgba({{rgbValue}},{{a}}) {{ratio}}%, rgba(0, 0, 0, 0) {{ratio}}%, rgba(0, 0, 0, 0) 100%) 0% 0%;
  background-size:{{length+space}}px {{weight}}px;
  height: {{weight}}px;
}
</pre>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app101 = new Vue({
    el: '#app',
    data: {
      length:1,
      space:1,
      weight:1,
      color:'#000000',
      r:'',
      g:'',
      b:'',
      a:'1'
    },
    computed:{
      ratio:function(){
        var number = this.length/(this.length+this.space)*100
        number = Math.floor((number*100)/100)
        return number
      },
      rgbValue:function(){
        const colorCode = this.color.slice(1);
        const hexValue = colorCode.split('');
        let r, g, b;
        if (colorCode.length === 3) {
            r = parseInt(hexValue[0].toString() + hexValue[0].toString(), 16);
            g = parseInt(hexValue[1].toString() + hexValue[1].toString(), 16);
            b = parseInt(hexValue[2].toString() + hexValue[2].toString(), 16);
        } else if (colorCode.length === 6) {
            r = parseInt(hexValue[0].toString() + hexValue[1].toString(), 16);
            g = parseInt(hexValue[2].toString() + hexValue[3].toString(), 16);
            b = parseInt(hexValue[4].toString() + hexValue[5].toString(), 16);
        }
        var rgb = r+','+g+','+b
        return rgb
      }
    }
})
</script>
</body>
</html>